@font-face {
  font-family: '7segment';
  src: url(fonts/7segment.woff),
       url(fonts/7segment.ttf);
}
body {
  margin: 0;
  padding: 25px 10px;
}
.calculator {
  background-color: #1c1c1c;
  border: 3px solid #555;
  border-radius: 20px;
  -webkit-box-shadow: -2px 15px 25px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 15px 25px 5px rgba(0,0,0,0.75);
  box-shadow: -2px 15px 25px 5px rgba(0,0,0,0.75);
  color: #d6d6d6;
  font-family: Arial, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  padding: 46px 22px 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  width: 350px;
  max-width: 75%;
}
.fullscreen {
  background-color: #000;
  transition: background-color .5s;
}
.fullscreen-off {
  background-color: #2f2f2f;
}
.fullscreen-off .screen-result,
.fullscreen-off .keyboard {
  visibility: hidden;
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
.fullscreen-inner {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.screen-result input {
  background-color: #000;
  border: none;
  color: #3399ee;
  font-family: '7segment', Arial, sans-serif;
  font-size: 64px;
  line-height: 120px;
  outline: none;
  padding-left: 7%;
  padding-right: 7%;
  text-align: right;
  width: 86%;
}
.keyboard {
  border-left: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}
.key {
  background-color: #424242;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  width: calc(25% - 1px);
}
.key:hover {
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(214,214,214,0.25);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(214,214,214,0.25);
  box-shadow: inset 0px 0px 4px 0px rgba(214,214,214,0.25);
}
.key:active {
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25);
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25);
}
.key-ac {
  width:  calc(75% - 1px);
}
.key-0 {
  width: calc(50% - 1px);
}
.key-plus, .key-minus, .key-multiply, .key-divide {
  background-color: #212121;
}
.key-equal {
  background-color: #ff2600;
}
.button-home {
  border: 1px solid #424242;
  border-radius: 50%;
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.75);
  height: 28px;
  margin: 12px auto;
  width: 28px;
}
.button-home:hover {
  box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,.75), 0px 1px 0px 1px rgba(51, 51, 51, 0.5);
}
.button-home:active {
  background-color: rgba(0,0,0,.5);
  box-shadow: inset 0px 0px 1px 0px rgba(214,214,214,0.25);
}
.button-home::after {
  border: 1px solid #313131;
  border-radius: 2px;
  box-shadow: 0px 0px 4px 0px rgba(10, 10, 10, 0.5), inset 0px 0px 4px 1px rgba(25, 25, 25, 0.5);
  content: '';
  display: block;
  height: 10px;
  margin: 8px auto;
  width: 10px;
}
.button-home:active::after {
  transform: scale(.92);
}
